@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.poppins,
* {
    font-family: "Rubik", sans-serif !important;
    box-sizing: border-box !important;
    &::-webkit-scrollbar {
        width: 1px;

        &-track {
            background: #f1f1f1;
        }

        &-thumb {
            background: #c7c7c7;
        }
    }
}

h1 {
    font-weight: 700 !important;
}

.hidden {
    display: none !important;
}

.soldProductCard {
    transition: all 0.3s ease;
    border-radius: 8px;

    &:hover {
        box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.562);

        div {
            border-color: rgb(51, 51, 51);
        }
    }
}

.dialogConatainer {
    width: 100%;
    height: 100vh;
    position: fixed;
    padding: 20px;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    z-index: 1200;
    justify-content: center;
    align-items: center;
}

.dialogPopup {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.beautyBlock {
    box-shadow: 2px 2px 2px 0px rgba(121, 121, 121, 0.208);
}

.beautyHeader {
    // animation background
}

.extraMaterials {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    background: #4C6A55;
    transition: 0.3s;
    border-radius: 10px;
    cursor: pointer;
    position: relative;

    .seeIcon {
        transition: 0.3s;
        opacity: 0;
        position: absolute;
    }

    p, .seeIconHidden {
        color: #fff;
        font-size: 20px !important;
        transition: 0.3s;
    }

    &:hover {
        background: #3d3d3d;

        p, .seeIconHidden {
            opacity: 0;
        }

        .seeIcon {
            opacity: 1;
            font-size: 30px !important;
        }
    }


}

.lessonsButtonWrapper {
    padding: 0 !important;
    padding-inline-start: 0 !important;
    padding-inline-end: 0 !important;

    &>div {
        padding: 0 !important;
    }

    .lessonButton:last-child {
        border-bottom: none !important;
    }

    .lessonButton:not(:first-child) {
        border-top: none !important;
    }
}

.chip {
    padding: 0 15px;
    max-width: fit-content;
    background: transparent;
    border: 1px solid #4a4a4a;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin-bottom: 5px;
}

.lessonButton {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #00000000;
    padding: 15px 20px;
    cursor: pointer;
    border-radius: 0;

    &:hover {
        background: #0052131f;
    }

    &:active {
        background: #00000044;
    }


    input {
        border-color: #000 !important;
        margin-top: 2px;
    }
}

.df {
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type=checkbox] {
    border-radius: 0 !important;
    accent-color: #2d2f31 !important;
}

.lessonInfoContainer {
    h2 {
        font-size: 20px;
        font-weight: 600;
    }

    h3 {
        font-size: 16px;
        font-weight: 600;
    }

    h4 {
        font-size: 14px;
        font-weight: 500;
        opacity: 0.8;
    }

    p {
        font-size: 15px;
        font-weight: 400;
    }
}

.activeLesson {
    background: #0052131f;
}

.mainWrapper {
    height: calc(100% - 88px);
}

.courseInfoTabPanel {
    height: 432px;
    overflow-y: auto;

    .courseInfoTabPanelButton {
        margin: 20px 0 20px 0;
        background-color: rgb(0, 167, 0);
        color: white;
        transition: 0.3s;

        &:hover {
            background-color: rgb(57, 57, 57);
        }
    }
}

.beautyDivider {
    &::after {
        content: '';
        display: block;
        position: absolute;
        height: 15vh;
        width: 100%;
        top: -50%;
        left: 0;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #3d3d3d 75%, #3d3d3d 100%);
        animation: drop 7s 0s infinite;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
    }
}

@keyframes drop {
    0% {
        top: -50%;
    }

    100% {
        top: 110%;
    }
}

@media screen and (max-width: 900px) {
    .sideSheet {
        width: 100%;
        max-width: 100%;
        border-top: 1px solid #848484;
        border-left: none;
    }

    .dashboardDivider {
        display: none;
    }

    .mainContainer {
        height: auto;
    }

    .mainWrapper {
        flex-wrap: wrap;
    }

    .boughtProductsWrapper {
        width: 100%;
    }

    .newsWrapper {
        width: 100%;
    }
}